<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="text-lg-right">
        <div th:unless="${name == null}">
            <p><h6>[[${name}]]님 환영합니다!</h6></p>
            <p><a class="btn btn-info" href="/members/logout">로그아웃</a></p>
        </div>
        <div th:if="${name == null}">
            <p><a class="btn btn-info" href="/members/login">로그인</a></p>
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">작성자</th>
            <td th:text="${post.getWriter()}"></td>

            <th scope="row">게시판</th>
            <td th:text="${post.getBoard().getDescription()}"></td>
        </tr>
        <tr>
            <th scope="row">찬성</th>
            <td th:text="${post.getAgreeCnt()}"></td>

            <th scope="row">반대</th>
            <td th:text="${post.getDisagreeCnt()}"></td>
        </tr>
        <tr>
            <th scope="row">제목</th>
            <td th:text="${post.getTitle()}"></td>

            <th scope="row">작성 날짜</th>
            <td th:text="${post.getCreatedAt()}"></td>
        </tr>
        <tr>
            <th scope="row">내용</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <p style="border: 2px solid#117a8b; border-radius: 7px;padding: 50px" th:text="${post.getContent()}" th:align="center"></p>

    <p th:align="center" th:if="${agreeYn==null} and ${disagreeYn==null}">
        <a class="btn btn-lg btn-outline-primary" th:href="@{|/post/${post.getId()}/agree|}">찬성</a>
        <a class="btn btn-lg btn-outline-danger" th:href="@{|/post/${post.getId()}/disagree|}">반대</a>
    </p>

    <p th:align="center" th:if="${agreeYn==false} and ${disagreeYn==false}">
        <a class="btn btn-lg btn-outline-primary" th:href="@{|/post/${post.getId()}/agree|}">찬성</a>
        <a class="btn btn-lg btn-outline-danger" th:href="@{|/post/${post.getId()}/disagree|}">반대</a>
    </p>

    <p th:align="center" th:if="${agreeYn==true} and ${disagreeYn==false}">
        <a class="btn btn-lg btn-primary" th:href="@{|/post/${post.getId()}/agree|}">찬성</a>
        <a class="btn btn-lg btn-outline-danger" th:href="@{|/post/${post.getId()}/disagree|}">반대</a>
    </p>

    <p th:align="center" th:if="${agreeYn==false} and ${disagreeYn==true}">
        <a class="btn btn-lg btn-outline-primary" th:href="@{|/post/${post.getId()}/agree|}">찬성</a>
        <a class="btn btn-lg btn-danger" th:href="@{|/post/${post.getId()}/disagree|}">반대</a>
    </p>

    <hr>
    <form role="form" th:action="@{|/post/${post.getId()}|}" th:object="${commentRequest}" method="post">
        <div class="form-group">
            <label th:for="content">댓글</label>
            <textarea th:field="*{content}" class="form-control" rows="3"
                      placeholder="댓글을 입력하세요"
                      th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">Incorrect date</p>
        </div>
        <div class="text-lg-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <table class="table table-striped" style="table-layout: fixed">
        <thead>
        <tr>
            <th width="65%">댓글</th>
            <th width="15%">작성자</th>
            <th width="20%">작성날짜</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${findComments}">
            <td th:text="${comment.getContent()}"></td>
            <td th:text="${comment.getWriter()}"></td>
            <td th:text="${comment.getCratedAt()}"></td>
        </tr>
        </tbody>
    </table>
    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
        <a class="btn" th:if="${page != nowPage} and ${page != 0}" th:href="@{|/post/${post.getId()}?page=${page-1}|}" th:text="${page}"></a>
        <a class="btn btn-outline-primary" th:if="${page==nowPage} and ${page != 0}" th:text="${page}"></a>
    </th:block>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>