<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>Student-Cheongwon</h1>
        <div th:if="${name == null}">
            <p class="lead">회원 기능</p>
            <p>
                <a class="btn btn-lg btn-info" href="/members/join">회원가입</a>
                <a class="btn btn-lg btn-info" href="/members/login">로그인</a>
            </p>
        </div>
        <div th:unless="${name == null}">
            <p class="lead">회원 기능</p>
            <p><h4>[[${name}]]님 환영합니다!</h4></p>
            <p><a class="btn btn-lg btn-info" href="/members/logout">로그아웃</a></p>
        </div>
        <p class="lead">게시판</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/post/lecture">강의 관련</a>
            <a class="btn btn-lg btn-secondary" href="/post/facility">시설 관련</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" href="/post/welfare">복지 관련</a>
            <a class="btn btn-lg btn-dark" href="/post/cafeteria">학식 관련</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/post/dormitory">기숙사 관련</a>
            <a class="btn btn-lg btn-secondary" href="/post/etc">기타</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>